@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
  --primary: #5b9af8;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
  --width: 1600px;
}

body{
  font-family: "Poppins";
  color: var(--secondary);
  overflow: hidden; /*  Disable scrollbars */
  display: block;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

.App{
  max-width: var(--width);
  margin: 0 auto;
}

.title h1{
  margin: 20px 0;
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.hidden {
  display: none;
}

.ImageUIPanel {
  max-width: var(--width);
  height: 100%;
  text-align: center;
  position: relative;
}

.welcome {
  height: 52px;
}

label{
  margin-bottom: 0;
}

label input{
  height: 0;
  width: 0;
  opacity: 0;
}

.output{
  height: auto;
  font-size: 0.8rem;
}

.error{
  color: var(--error);
}

.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

.hidden {
  display: none;
}

.img-container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}

.p5Canvas {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

 .measure {
  position: absolute;
  left: -10000px;
  top: -10000px;
 }

 #welcomeText {
   font-size: 1.5rem;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   margin-left: -315px;
 }

 .viewer-container {
   height: 802px;
 }

 .drag-area{
  border: 2px dashed var(--primary);
  border-radius: 5px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 300ms;
}
.drag-area:hover {
  background-color: #dae8fc;
}
.drag-area.active{
  border: 2px solid var(--primary);
  background-color: #bfd7fc;
}
.drag-area .icon{
  font-size: 100px;
  color: var(--primary);
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: var(--primary);
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: var(--primary);
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: var(--primary);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#progress-bar {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.optionPanel {
  width: 70%;
}

.optionEntry {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
}

.card-header {
  padding: 0;
  padding-top: 2px;
  border-bottom: 0;
}

.buttonContainer {
  width: 25%;
  text-align: center;
}

.sketchButton {
  margin: 5px 10px;
  width: 160px;
}

#headerProgress {
  width: 70%;
  padding-top: 10px;
  text-align: center;
}

.nav-button {
  width: 5%;
  font-size: 30px;
  border-color: transparent;
}

.dropdownIcon {
  padding: 10px;
  padding-right: 30px;
  width: 5%;
}

.dropdownIcon svg {
  width: 25px;
  height: 25px;
  color: var(--primary);
}

.dropdownContainer {
  z-index: 100;
  position: absolute;
  top: 60px;
  width: 200px;
  transform: translateX(-128px);
  padding: 0.5rem;
  overflow: hidden;
}

.dropdownContainer .card-body {
  padding: 0;
}

.dropdownItem {
  width: 180px;
  margin: 2px 0;
  text-align: left;
}

.disabled svg {
  color: #c5c5c5;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--primary);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-ring-small {
  margin-right: 20px;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring-small div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid var(--primary);
  border-radius: 50%;
  animation: lds-ring-small 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary) transparent transparent transparent;
}
.lds-ring-small div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring-small div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring-small div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring-small {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
